@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-family: "Noto Sans", serif;
}

:root {
  --blue-dark: #38739d;
  --blue-light: #779aae;
  --white-gray: #eae5df;
  --yellow: #efbf6a;
  --brown: #a55d37;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: solid 1px var(--blue-dark);
}
.img-header {
  height: 20vh;
  width: 100vw;
  background-image: url(images/bus-header.png);
  background-position: center;
  background-size: cover;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
nav a {
  text-decoration: none;
  color: var(--brown);
}

nav a:hover {
  color: var(--blue-dark);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
  border-top: solid 1px var(--blue-dark);
}
p {
  text-align: center;
}
